<br />
<app-event-card [eventId]="event.id"></app-event-card>
<br />
<button mat-raised-button color="primary" (click)="insert()">Crear</button> &nbsp;&nbsp;
<button mat-raised-button color="primary" (click)="update()">Actualizar</button>
<br />
<br />
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id.</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="presentation">
    <th mat-header-cell *matHeaderCellDef>Presentacion.</th>
    <td mat-cell *matCellDef="let element">{{ element.presentationName}}</td>
  </ng-container>
  <ng-container matColumnDef="apertura_puertas">
    <th mat-header-cell *matHeaderCellDef>Apertura de Puertas del Evento.</th>
    <td mat-cell *matCellDef="let element">{{ element.doorOpening }}</td>
  </ng-container>
  <ng-container matColumnDef="fecha_evento">
    <th mat-header-cell *matHeaderCellDef>Fecha de Evento</th>
    <td mat-cell *matCellDef="let element">{{ element.eventDate }}</td>
  </ng-container>
  <ng-container matColumnDef="numero_tickets">
    <th mat-header-cell *matHeaderCellDef>Número de Tickets</th>
    <td mat-cell *matCellDef="let element">{{ element.numberOfTickets }}</td>
  </ng-container>
  <ng-container matColumnDef="tickets_vendidos">
    <th mat-header-cell *matHeaderCellDef>Tickets Vendidos</th>
    <td mat-cell *matCellDef="let element">{{ element.numberOfTicketsSold }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)"></tr>
</table>