<mat-card style="text-align: center">
  <mat-card-title>
    <div *ngFor="let present of presentation">
      {{ present.name | uppercase }}
    </div>
  </mat-card-title>
  <div *ngFor="let eventImage of eventImages">
    <img
      mat-card-image
      [src]="eventImage.base64"
      [alt]="eventImage.description"
    />
  </div>
  <mat-card-content>
    <mat-grid-list cols="2"
      ><mat-grid-tile
        ><div style="text-align: center">
          {{ event.date | date : "E" | uppercase }}<br />
          <div style="font-size: 60px; font-weight: bold">
            {{ event.date | date : "d" }}
          </div>
          {{ event.date | date : "MMM" | uppercase }}
        </div> </mat-grid-tile
      ><mat-grid-tile>
        {{ event.place }} <br />{{
          configEvent.doorOpening.split(":")[0] +
            ":" +
            configEvent.doorOpening.split(".")[0].split(":")[1]
        }}
      </mat-grid-tile></mat-grid-list
    >
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button>MÁS INFO</button>
    <button mat-raised-button>TICKETS</button>
    <!-- <div class="px-12"><button mat-raised-button>MÁS INFO</button></div>
    <div class="px-12"><button mat-raised-button>TICKETS</button></div> -->
  </mat-card-actions>
</mat-card>
