<mat-card>
  <div>
    <div *ngIf="eventImages.length > 0">
      <img [src]="eventImages[0].base64" />
    </div>

  </div>
  <mat-card-content>
    <mat-grid-list cols="2">
      <mat-grid-tile>
        <div class="dateEvent" style="text-align: center">
          {{ event.date | date : "E" | uppercase }}<br />
          <div style="font-size: 60px; font-weight: bold">
            {{ event.date | date : "d" }}
          </div>
          {{ event.date | date : "MMM" | uppercase }}
        </div>
      </mat-grid-tile><mat-grid-tile>
        {{ event.place }} <br />{{
        configEvent.doorOpening.split(":")[0] +
        ":" +
        configEvent.doorOpening.split(".")[0].split(":")[1]
        }}
      </mat-grid-tile></mat-grid-list>
  </mat-card-content>
  <mat-card-title style="text-align: center;">
    <div *ngFor="let present of presentation">
      {{ present.name | uppercase }}
    </div>
    <br />
  </mat-card-title>
  <mat-card-actions>
    <button mat-button mat-raised-button (click)="moreInfo()">MÁS INFO</button>
    <button mat-button mat-raised-button (click)="buyTicket()">TICKETS</button>
  </mat-card-actions>
</mat-card>