<br />
<form #f="ngForm" (ngSubmit)="executeAction(f)">
  <mat-card width="100%" style="margin-left: 20%; margin-right: 20%">
    <mat-card-header>
      <mat-card-title>Presentaciones</mat-card-title>
      <mat-card-subtitle>Creación</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-grid-list cols="1" rowHeight="100px">
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <mat-label>Nombre</mat-label>
            <input
              class="inputs-form"
              type="text"
              name="name"
              matInput
              placeholder="Nombre de la presentación"
              [(ngModel)]="presentation.name"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="full-width">
            <mat-label>Id evento</mat-label>
            <input
              class="inputs-form"
              type="text"
              name="description"
              matInput
              placeholder="Id evento"
              [(ngModel)]="presentation.eventId"
              required
            />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">CREAR</button>
      &nbsp;
      <button
        mat-raised-button
        color="primary"
        routerLink="/homeAdmin"
        color="warn"
      >
        CANCELAR
      </button>
    </mat-card-actions>
  </mat-card>
</form>
<br />
