<br />
<div class="px-10">
    <h1 class="py-5">{{fullEvent.name}}</h1>
    <div class="grid grid-cols-2 gap-4">
        <div *ngIf="eventImages.length > 0">
            <img [src]="eventImages[0].base64" />
        </div>
        <div>
            <h1 class="mb-8">Información general</h1>
            <p class="text-blue-600/100">Lugar: &nbsp;</p>
            <p>{{fullEvent.place}}</p>
            <p class="text-blue-600/100">Ciudad: &nbsp;</p>
            <p>{{fullEvent.cityName}}</p>
            <p class="text-blue-600/100">Fecha: &nbsp;</p>
            <p>{{fullEvent.date | date : "d/M/y"}}</p>
            <p class="text-blue-600/100">Hora: &nbsp;</p>
            <p>{{fullEvent.time}}</p>
            <p class="text-blue-600/100">Categoría: &nbsp;</p>
            <p>{{fullEvent.categoryEventName}}</p>
            <br>
            <div *ngFor="let event of fullEvent.configEvents">
                <button mat-raised-button color="warn">Comprar función {{event.eventDate | date : 'MMMM d'}} </button>
            </div>
        </div>
    </div>
</div>
