<br />
<div class="grid lg:grid-cols-4 gap-10 px-3">
    <h1>{{fullEvent.name}}</h1>
    <br><br>
    <mat-grid-list cols="2">
        <mat-grid-tile>

        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-tile-header>
                Información general
            </mat-grid-tile-header>
            {{"Lugar: "+fullEvent.place}}
            <br>
            {{"Ciudad: "+fullEvent.countyName}}
            <br>
            {{"Fecha: "+(fullEvent.date | date : "d/M/y" )}}
            <br>
            {{"Hora: "+fullEvent.time}}
            <br>
            {{"Categoría: "+fullEvent.categoryEventName}}
        </mat-grid-tile>
    </mat-grid-list>
</div>