<form #f="ngForm" (ngSubmit)="changePassword(f)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Cambiar password</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="mat-mdc-form-field-error" *ngIf="f.submitted && passwordsDoesntMatch">
          Password <strong>doesn't match</strong>
        </div>
        <mat-grid-list cols="1" rowHeight="100px">
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Nueva contraseña:</mat-label>
              <input matInput [(ngModel)]="loginEntity.password" placeholder="Contraseña" name="contrasenia" type="password" required="true"/>
              <mat-error *ngIf="f.submitted && f.controls['contrasenia'].invalid">
                Password <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="fill">
              <mat-label>Confirmar Nueva contraseña</mat-label>
              <input matInput [(ngModel)]="loginEntity.confirmPassword" placeholder="Confirma tu contraseña" type="password"
                name="confirmContrasenia" required="true"/>
              <mat-error *ngIf="f.submitted && f.controls['confirmContrasenia'].invalid">
                Confirm password is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">
          Cambiar Contraseña
        </button>
      </mat-card-actions>
    </mat-card>
  </form>