<mat-drawer-container hasBackdrop="true" *ngIf="validatePermissions()">
    <mat-drawer #drawer mode="side"><br>
        <div *ngFor="let item of getMenu(); index as i;">
            &nbsp;&nbsp;<a routerLinkActive="active" [routerLink]="item.url">{{item.name}}</a>
            &nbsp;&nbsp;
            <br />
            <br />
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-icon-button aria-label="Icono menu" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div style="width: 80%;margin: auto;">
            <!-- Ini -->
            <form #f="ngForm" (ngSubmit)="executeAction(f)">
                <br />
                <br />
                <mat-form-field appearance="fill">
                    <mat-label>Evento</mat-label>
                    <mat-select [(ngModel)]="eventId" (selectionChange)="getPresentationsByEvent()" name="event"
                        required>
                        <mat-option *ngFor="let event of events" [value]="event.id">
                            {{event.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;&nbsp;
                <mat-form-field appearance="fill">
                    <mat-label>Presentación</mat-label>
                    <mat-select [(ngModel)]="presentationId" name="presentation" required>
                        <mat-option *ngFor="let pr of presentations" [value]="pr.id">
                            {{pr.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;
                <button mat-raised-button color="warn" (click)="buscarTickets(0)"> BUSCAR</button>&nbsp;
                <button mat-raised-button color="warn" (click)="generarTickets()"> GENERAR TICKETS</button><br />


                <br />
                <div *ngIf="eventId!== 0">
                    <app-event-card [eventId]="eventId"></app-event-card>
                </div>
                <br />

                <table mat-table [dataSource]="tickets" class="example-table" matSort matSortActive="created"
                    matSortDisableClear matSortDirection="desc">
                    <!-- Number Ticket Column -->
                    <ng-container matColumnDef="numberTicket">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>
                            # Ticket
                        </th>
                        <td mat-cell *matCellDef="let row">{{row.numberTicket}}</td>
                    </ng-container>
                    <!-- Zone Column -->
                    <ng-container matColumnDef="zone">
                        <th mat-header-cell *matHeaderCellDef>Zone</th>
                        <td mat-cell *matCellDef="let row">{{row.zoneName}}</td>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef>Categoria</th>
                        <td mat-cell *matCellDef="let row">{{row.categoryName}}</td>
                    </ng-container>

                    <!-- Presentation Column -->
                    <ng-container matColumnDef="presentation">
                        <th mat-header-cell *matHeaderCellDef>Presentación</th>
                        <td mat-cell *matCellDef="let row">{{row.presentationName}}</td>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef>Estado</th>
                        <td mat-cell *matCellDef="let row">{{row.state}}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [length]="resultsLength" [pageSizeOptions]="pageSizeOptions" [pageSize]="records"
                    [pageSize]="10" aria-label="Select Tickets" (page)="handlePageEvent($event)"></mat-paginator>
            </form>
            <!-- Fin -->
        </div>
    </mat-drawer-content>
</mat-drawer-container>