.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  p {
    font-size: 30px;
    font-family: "Telefonica-Bold";
    display: block;
    line-height: 40px;
  }
  