<mat-drawer-container hasBackdrop="true" *ngIf="validatePermissions()">
    <mat-drawer #drawer mode="side"><br>
        <div *ngFor="let item of getMenu(); index as i;">
            &nbsp;&nbsp;<a routerLinkActive="active" [routerLink]="item.url">{{item.name}}</a>
            &nbsp;&nbsp;
            <br />
            <br />
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <button mat-icon-button aria-label="Icono menu" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <div style="width: 80%;margin: auto;">
            <!-- Ini -->
            <br />
            <app-event-card [eventId]="configEvent.eventId"></app-event-card>
            <br />
            <br />
            <form #f="ngForm" (ngSubmit)="executeAction(f)">
                <mat-card width="100%" style="margin-left: 20%; margin-right: 20%">
                    <mat-card-header>
                        <mat-card-title>Configuraciones del evento</mat-card-title>
                        <mat-card-subtitle>
                            <span *ngIf="createAction">Creación</span>
                            <span *ngIf="!createAction">Actualización</span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-grid-list cols="1" rowHeight="100px">
                            <mat-grid-tile>
                                <mat-form-field class="full-width">
                                    <mat-label>Presentación</mat-label>
                                    <mat-select [(ngModel)]="configEvent.presentationId" name="presentation" required>
                                        <mat-option *ngFor="let pr of presentations" [value]="pr.id">
                                            {{pr.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="full-width">
                                    <mat-label>Apertura de puertas</mat-label>
                                    <input class="inputs-form" type="text" name="openDoors" matInput
                                        [(ngModel)]="configEvent.doorOpening" required>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field>
                                    <mat-label>Fecha de evento</mat-label>
                                    <mat-error *ngIf="f.submitted && f.controls['eventDate'].invalid ">
                                        Fecha de evento obligatorio
                                    </mat-error>
                                    <input matInput [matDatepicker]="picker" [(ngModel)]="configEvent.eventDate"
                                        name="eventDate" required>
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <mat-form-field class="full-width">
                                    <mat-label>Número de tickets del evento</mat-label>
                                    <input class="inputs-form" type="number" name="numberTickets" matInput
                                        [(ngModel)]="configEvent.numberOfTickets" required>
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="butonDisabled">{{createAction ?
                            'INSERTAR' : 'ACTUALIZAR'}}</button> &nbsp;
                        <button mat-raised-button color="primary" routerLink="/configEvent/{{configEvent.id}}"
                            color="warn" [disabled]="butonDisabled">{{constants.BUTTON_CANCEL}}</button>
                    </mat-card-actions>
                </mat-card>
            </form>
            <!-- Fin -->
        </div>
    </mat-drawer-content>
</mat-drawer-container>