.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  justify-content: center;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}
@media (min-width: 767px) {
  .hidden-not-mobile {
    display: none;
  }
}

mat-drawer{
  background: #3F51B5;
  color: white;
  font-size: 14px;
}
.margin-toolbar{
  margin-top: 10px;
  margin-bottom: 15px;
}
.logo{
  width: 20%;
  margin-left: 120px
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

span.texto:hover {
  font-weight: bolder;
}
span.texto{
  font-weight: lighter;
  margin-top: 20px;
}