<mat-drawer-container class="example-container" hasBackdrop="true">
  <mat-drawer #drawer mode="side"><br>
    <a routerLink="" class="px-4">Eventos</a><br><br>
    <a routerLink="/signin" *ngIf="!isAutenticated()" class="px-4">Iniciar sesión</a><br>
    <a (click)="logout()" *ngIf="isAutenticated()" class="px-4">Cerrar</a><br><br />
    <a routerLink="/homeAdmin" *ngIf="isAutenticated()" class="px-4">Home</a>
  </mat-drawer>
  <mat-drawer-content>
    <!-- Header -->
    <mat-toolbar color="primary">
      <mat-toolbar-row class="margin-toolbar">
        <div class="logo" routerLink="/">
          <img src="/assets/images/logo-compra-boletas.png" width="130" height="130" />
        </div>
        <span class="spacer"></span>
        <div class="hidden-mobile">
          <a (click)="logout()" *ngIf="isAutenticated()">
            <mat-icon>exit_to_app</mat-icon>&nbsp;
            <span class="texto">Salir</span>
          </a>&nbsp;&nbsp;
          <a routerLink="/homeAdmin" *ngIf="isAutenticated()">
            <mat-icon>home</mat-icon>&nbsp;
            <span class="texto">Home</span>
          </a>
          <a routerLink="/signin" *ngIf="!isAutenticated()" class="px-4">
            <mat-icon>account_circle</mat-icon>&nbsp;
            <span class="texto">Ingresar</span>
          </a>&nbsp;&nbsp;
          <a routerLink="/signup" *ngIf="!isAutenticated()" class="px-4">
            <mat-icon>account_circle</mat-icon>&nbsp;
            <span class="texto">Crear cuenta</span>
          </a>&nbsp;&nbsp;
          <a routerLink="" class="px-4">
            <mat-icon>event</mat-icon>&nbsp;
            <span class="texto">Eventos</span>
          </a>&nbsp;&nbsp;
        </div>&nbsp;&nbsp;
        <button mat-icon-button aria-label="Icono menu" (click)="drawer.toggle()" class="hidden-not-mobile">
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <br />
    <br />
    <br />
    <!-- Footer -->
    <mat-toolbar color="primary">
      <mat-toolbar-row class="text-sm">
        {{"COMPRABOLETAS ©"+year}}
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>