.spacer {
  flex: 1 1 auto;
}

mat-toolbar-row {
  justify-content: center;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none;
  }
}

mat-drawer{
  background: #3F51B5;
  color: white;
  font-size: 16px;
}