<div>
  <p>
    <mat-toolbar color="primary">
      <div style="width: auto; margin-left: 12px">
        <span
          ><img src="/assets/images/Logo.png" width="138" height="138"
        /></span>
      </div>
      <mat-toolbar-row>
        <a href="/auth/signin" class="px-4">Eventos</a>
        <a href="/signin" class="px-4">Iniciar sesión</a>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          aria-label="Icono menu"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
  <app-principal-page></app-principal-page>
  <!--app-signin></app-signin-->
</div>
