<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{event.place}} ({{event.address}})</mat-card-title>
            <mat-card-subtitle>{{event.date | date:"dd/MM/yy"}}</mat-card-subtitle>
            <mat-card-subtitle>
                ESTADO: 
                <span *ngIf="event.eventStatus==='CREATED'" style="font-weight: bold;">CREADO</span>   
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <br/>
            <p>
                Inicio de venta de boletas: {{event.time }} &nbsp;&nbsp; Edad minima de ingreso: {{event.minimumAge}}
            </p>
            <p>
                Responsable: {{event.responsible}} &nbsp;&nbsp; Nit: {{event.nit}}
            </p>
            
        </mat-card-content>
    </mat-card>
</div>