<div class="px-10">
    <br>
    <h1 class="grid place-items-center">Seleccione su asiento</h1>
    <br>
    <div class="grid grid-cols-2 gap-1 justify-items-center">
        <div>
            <img src="/assets/images/Sitio-removebg-preview.png">
        </div>
        <div class="px-10">
            <mat-form-field appearance="fill">
                <mat-label>Categoría</mat-label>
                <mat-select [(value)]="categoryId" (selectionChange)="getZoneConfigEvents(categoryId)">
                    <mat-option *ngFor="let cat of category" [value]="cat.id">{{cat.name}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="categoryId!=0">
                <mat-form-field appearance="fill">
                    <mat-label>Zona</mat-label>
                    <mat-select [(value)]="fullEvent">
                        <mat-option *ngFor="let event of zoneConfigEvent" [value]="event">{{event.zone.name}}
                            {{event.cost | currency:'COP'}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Cantidad</mat-label>
                    <input matInput #numberOfTickets placeholder="# tickets" maxlength="2">
                    <mat-hint>{{numberOfTickets.value.length}} / 2</mat-hint>
                </mat-form-field>
                <br>
                <button mat-raised-button color="primary"
                    (click)="getTickets(fullEvent, numberOfTickets.value)">Comprar</button>
            </div>
        </div>
    </div>