<br>
<h1>Rangos de precios</h1>
<br>
<div *ngFor="let event of zoneConfigEvent">
    <div *ngIf="event.numberOfTickets != 0; then thenTemplate; else elseTemplate"></div>
    <ng-template #thenTemplate>
        <input type="checkbox" name="" id="">
        <p>{{event.zone.name}}</p>
        <p>{{event.cost}}</p>
    </ng-template>
    <ng-template #elseTemplate>
        <input type="checkbox" name="" id="" disabled>
        <p>{{event.zone.name}}</p>
        <p>{{event.cost}}</p>
    </ng-template>
</div>