@use '@angular/material' as mat;
@include mat.core();
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    width: 80%;
}
mat-card-content{
    margin-left: 10%;
}

.mat-mdc-snack-bar-container {
    &.green-snackbar {
      --mdc-snackbar-container-color: #56AB39;
      --mat-mdc-snack-bar-button-color: #fff;
      --mdc-snackbar-supporting-text-color: #fff;
    }
    &.red-snackbar {
        --mdc-snackbar-container-color: #D14125;
        --mat-mdc-snack-bar-button-color: #fff;
        --mdc-snackbar-supporting-text-color: #fff;
      }
  }