<mat-drawer-container hasBackdrop="true" *ngIf="validatePermissions()">
  <mat-drawer #drawer mode="side">
    <br/>
      <div *ngFor="let item of getMenu(); index as i;"> 
        &nbsp;&nbsp;<a routerLinkActive="active" [routerLink]="item.url">{{item.name}}</a>
        &nbsp;&nbsp;
        <br/>
        <br/>
      </div>
  </mat-drawer>
  <mat-drawer-content>
    <button mat-icon-button aria-label="Icono menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="width: 30%;margin: auto;">
      <apx-chart [series]="series" [chart]="chart" [title]="title" [labels]="labels"></apx-chart>
    </div>
  </mat-drawer-content>
</mat-drawer-container> 
